/* Globally set reference variables */
:root {
    --toolbar-height: clamp(40px, calc(13.33vw - 27px), 80px);
    --golden: rgb(212, 175, 55);
    --bronze: rgb(200, 172, 78);
    --forrest: rgb(29, 74, 10);
    --leaf: rgb(77, 110, 62);
    --tooltip-bg: rgb(158, 158, 158);
}

body {
    background-color: var(--forrest);
    margin: 0;
    min-height: calc(100vh - var(--toolbar-height));
    font: 500 16px/1 Arial;
}

/* Allows elements to be hidden by toggling this class on them */
.hidden {
    display: none !important;
}