/* Globally set reference variables */
:root {
    --toolbar-height: clamp(40px, calc(13.33vw - 27px), 80px);
    --golden: rgb(212, 175, 55);
    --bronze: rgb(177, 149, 58);
    --forrest: rgb(29, 74, 10);
    --leaf: rgb(77, 110, 62);
    --tooltip-bg: rgb(158, 158, 158);
}

body {
    background-color: var(--forrest);
    margin: 0;
    min-height: 100vh;
    font: 500 16px/1 Arial;
	color: black;
}

/* Generic content panel settings */
.content-panel {
    background-color: var(--leaf);
	box-sizing: border-box;
	margin-top: 0;
    padding-top: var(--toolbar-height);
    margin-left: 50px;
    min-height: 100vh;
    transition: margin-left 300ms ease-in-out;
    position: relative;
    z-index: 1;
	container-type: inline-size;
	container-name: contentPanel;
	padding-bottom: 20px;
}

/* Allows elements to be hidden by toggling this class on them */
.hidden {
    display: none !important;
}

/* Disable mobile browser native decoration of button elements */
button,
button * {
    text-decoration: none;
    appearance: none;
    -webkit-appearance: none;
	-webkit-tap-highlight-color: transparent;
	-webkit-user-select: none;
    user-select: none;
	color: inherit;
}

.lora-plain {
	font-family: "Lora", serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

.lora-bold {
	font-family: "Lora", serif;
	font-optical-sizing: auto;
	font-weight: 700;
	font-style: normal;
}

.lora-italic {
	font-family: "Lora", serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: italic;
}

/* Apply standard properties to the page root and all containers */
html, body, * {
	scrollbar-color: var(--golden) var(--bronze);
	scrollbar-width: thin;
}

/* Apply WebKit styles to all scrollable elements globally */
::-webkit-scrollbar {
	width: 8px;
	height: 8px; /* For horizontal scrollbars */
}

::-webkit-scrollbar-track {
	background: var(--bronze);
	border-radius: 4px;
}

::-webkit-scrollbar-thumb {
	background: var(--golden);
	border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
	background: var(--golden);
}