body {
    background-color: var(--leaf);
}

.header-section {
    position: fixed;
    bottom: 62%;
    left: 50vw;
    width: 500px;
    height: 300px;
    translate: -50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    scale: clamp(0.7, calc(1vw / 6px), 1);
    transform-origin: bottom;
}

.header-section img {
    width: 80%;
    height: auto;
}

.welcome-message {
    position: fixed;
    top: 150px;
    
    text-align: center;
    font: 800 31px 'Cinzel Decorative', serif;
    letter-spacing: 2px;

    background: linear-gradient(
    to bottom, 
    #ffeeb8 0%,   /* Bright top highlight */
    #d1a354 35%,  /* Mid gold */
    #8f6226 55%,  /* Dark inner bevel shadow */
    #c49a4f 80%,  /* Lower gold */
    #e8cc81 100%  /* Bottom edge highlight */
    );

    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #0a0a0a;
    filter: drop-shadow(4px 4px 2px rgba(0, 0, 0, 0.7));
}

.root-window {
    position: fixed;
    top: 40%;
    left: 50vw;
    transform: translateX(-50%);
    width: 350px;
    height: 500px;
    display: flex;
}

.toggle {
    background-color: black;
    flex: 1;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

.toggle-button {
    background-color: var(--golden);
    flex: 1;
    height: 100%;
    border: 1px solid black;
    font-size: 18px;
}

.selected {
    background-color: var(--bronze);
    border-bottom: none !important; /* Overrules the bottom border styling from the .button class */
}

.section {
    background-color: var(--bronze);
    position: fixed;
    top: 50px;
    right: 0;
    left: 0;
    height: fit-content;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

.input-container {
    margin: 10px;
    padding: none;
    width: 80%;
    height: 30px;
    border-radius: 8px;
    position: relative;
}

.input-container input {
    margin: none;
    padding: 3px 30px 3px 8px;
    border-radius: 8px;
    border: 1px solid black;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.section input:active,
.section input:focus {
    outline: none;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0);
}

.input-container button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1px 5px;
    height: 98%;
    background-color: transparent;
    border: none;
    box-sizing: border-box;
    cursor: pointer;
    transition: transform 50ms ease-in-out;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.input-container img {
    height: 60%;
    width: auto;
    aspect-ratio: 1 / 1;
    object-fit: fill;
    margin-right: 3px;
}

.status-message {
    width: 80%;
    height: fit-content;
    margin: 5px;
    padding: 5px;
    font: 400 12px Arial;
    font-style: italic;
    text-align: center;
    border-radius: 5px;
}

.status-message.success {
    background-color: rgba(0, 157, 0, 0.6);
}

.status-message.error {
    background-color: rgba(176, 0, 0, 0.6);
}

.button {
    background-color: var(--forrest);
    color: white;
    margin: 10px;
    width: 60%;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    font: 600 14px Arial;
    transition: transform 50ms ease-in-out;
}

.button:active {
    transform: scale(0.95);
}