.toolbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: var(--toolbar-height); /* global var set in general.css */
    background-color: var(--forrest);
    display: flex;
    align-items: center;
    z-index: 100;
}

.site-logo-section {
    flex: 2;
    height: 90%;
    max-width: 250px;
    min-width: 100px;
    display: flex;
    container-type: size;
    align-items: center;
    text-decoration: none;
}

.site-logo-section img {
    height: 90%;
    width: auto;
    margin: 0 clamp(5px, calc(10 * 100cqh / 80), 10px) 0 5px;
}

.search-section {
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    container-type: size;
    height: 100%;
}

.search-section div {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    max-width: 400px;
    container-type: size;
    height: calc(40 * 100cqh / 80);
}

.search-bar {
    box-sizing: border-box;
    width: 100%;
    min-width: 0;
    height: 100%;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    padding: 1px clamp(20px, 100cqh, 40px) 1px 8px;
    font: 500 clamp(8px, calc(100cqh / 2.5), 16px) Arial;
}

.search-bar:focus {
    outline: none;
    border-width: 2px;
}

.search-btn {
    position: absolute;
    right: 0;
    height: 100%;
    aspect-ratio: 1 / 1;
    margin: 0;
    padding: 5px;
    border: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    opacity: 0.75;
}

.search-btn:active {
    padding: 6px;
}

.search-btn img {
    object-fit: fill;
    max-width: 100%;
    max-height: 100%;
}

.user-profile-section {
    flex: 2;
    min-width: 100px;
    max-width: 250px;
    height: 100%;
    display: flex;
    container-type: size;
    align-items: center;
    justify-content: right;
    position: relative;
}

.user-profile-section button {
    height: clamp(20px, calc(40 * 100cqh / 80), 40px);
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    padding: 0;
    border-radius: 10px;
    transition: transform 300ms ease-in-out;
    background-color: transparent;
    border: none;
}

.user-profile-section button:hover {
    transform: scale(1.15);
}

.user-profile-section button:active {
    transition: transform 0ms ease;
    transform: none;
}

.user-profile-section button img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.user-profile-tooltip {
    background-color: rgb(84, 84, 84);
    position: absolute;
    right: 15px;
    top: calc(var(--toolbar-height) * 0.875);
    text-wrap: none;
    width: calc(var(--toolbar-height) * 2.5);
    padding: 5px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    overflow: hidden;
}

.user-profile-tooltip div {
    display: flex;
    align-items: center;
    justify-content: left;
    white-space: nowrap;
    margin: 0;
    padding: 2px 2px 2px 5px;
    height: clamp(10px, calc(var(--toolbar-height) / 4), 20px);
    width: 100%;
    border-radius: 5px;
    font-weight: 700;
    font-size: clamp(8px, calc(var(--toolbar-height) / 5), 16px);
}

.user-profile-tooltip button {
    display: flex;
    align-items: center;
    justify-content: left;
    white-space: nowrap;
    margin: 0;
    padding: 2px 2px 2px 5px;
    height: clamp(10px, calc(var(--toolbar-height) / 4), 20px);
    width: 100%;
    border-radius: 5px;
    font-size: clamp(8px, calc(var(--toolbar-height) / 5), 16px);
}

.user-profile-tooltip button:hover {
    transform: scale(1.04);
    background-color: rgba(255, 255, 255, 0.085);
}

.user-profile-tooltip button:active {
    transition: transform 0ms ease;
    transform: none;
}

.user-profile-tooltip img {
    width: 100%;
    height: 2px;
    object-fit: cover;
    margin: 4px 0;
}