.toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    background-color: rgb(31, 90, 5);
    display: inline-flex;
}

.site-logo-section {
    max-height: 100%;
    max-width: 215px;
    min-width: 100px;
    flex: 1;
    display: flex;
    container-type: inline-size;
    align-items: center;
    text-decoration: none;
    border-right: 1px solid black;
}

.site-logo-section img {
    width: 30%;
    height: auto;
    margin: 0 clamp(5px, calc(10 * 100cqw / 215), 10px);
}

.site-logo-section h1 {
    font: 700 clamp(12px, calc(24 * 100cqw / 215), 24px) Arial;
    color: rgb(212, 175, 55);
}

.search-section {
    flex: 1;
    border-right: 1px solid black;
}

.user-profile-section {
    width: 300px;
}